<html ng-app="sprite_util">
    <head>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <!--<script src="/js/app.js"></script>-->
        <script src="/js/sprite_util_app.js"></script>
        <!--<script src="/js/services.js"></script>-->
        <script src="/js/controllers.js"></script>

    </head>
    <body>
        <div ng-controller="SpriteUtilController">
            <h4>Enter Sprite URL</h4>
            <input ng-model='url' type="text">
            <button ng-click="load_image();">Load</button>
            <select ng-model="mode" ng-options="select_mode as select_mode for select_mode in ['tile', 'animate']">

            </select>
            <div ng-show="mode=='tile'">
                Type:<input type="text" ng-model="type" /><br>
                <button ng-click="tile();">Tile</button>
                <button ng-click="tileSplit();">Tile Split</button>
                <select ng-model="selected_data_obj" ng-options="option_data_obj as option_data_obj.type for option_data_obj in data_obj_arr"></select>
                <img height='selector_height' width='selector_width' src="{{ selected_data_obj.src }}" />
            </div>
            <div ng-show="mode=='animate'">
                Type:<input type="text" ng-model="type" /><br>
                State:<input type="text" ng-model="state" /><br>
                <!--<button ng-click="tile();">Tile</button>-->
                Facing({{ facing }}):
                <select ng-model="facing" ng-options="dir as dir for dir in ['up','down','left','right']">
         <!--           <option value="'up'">Up</option>
                    <option value="'down'">Down</option>
                    <option value="'left'">Left</option>
                    <option value="'right'">Right</option>-->
                </select>
                <button ng-disabled="!image" ng-click="addFrame();">Add Frame</button>
                <br>

            </div>
            <br>
            Height:<input ng-model='selector_height' type="number"><br>
            Width:<input ng-model='selector_width' type="number"><br>
            X:<input ng-model='selector_x' type="number"><br>
            Y:<input ng-model='selector_y' type="number"><br>
            Jump:<input ng-model="jump" type="checkbox">
            <input ng-model='selected_color' type="text">
            <button ng-click="make_transparent();">Transparent</button>
            <button ng-click="save_binary();">Save</button>
            <button ng-click="fresh_obj();">Clear</button>
            <br>
            <textarea ng-model="data_obj_rendered" cols="50" rows="5" readonly></textarea>
            <img height='selector_height' width='selector_width' src="{{ preview_image.src }}" />
            <br>
            <div class="canvas-holder">
                <canvas id="sprite_canvas"></canvas>
            </div>


        </div>


    </body>
</html>